/*=======================
         fonts
=======================*/
@font-face {
    font-family: Kind_Avenue;
    src: url("fonts/kind_avenue.ttf") format('truetype');
}

@font-face {
    font-family: Sans_Font;
    src: url("fonts/balsamiq_sans_bold.woff2") format('woff2');
}

/*============================
        * & elements    
=============================*/
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('images/background_main.jpg');
}

*:not(ol, ul, li) {
    font-family: Sans_Font;
    color: #eedec0;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}

main {
    display: grid;
    grid-template-rows: repeat(5, auto);
}

u {
    text-decoration-thickness: 1px;
}

li {
    padding: 0.5rem 0rem;
}

/*============================
          Scroolbar  
=============================*/

html::-webkit-scrollbar {
    width: 1rem;
    background: #442d1c;
}

html::-webkit-scrollbar-thumb {
    background: #eedec0;
    border-radius: 0.35rem;
    border: 1px solid #eedec0a8;
}

html::-webkit-scrollbar-thumb:hover {
    background: #eedec0ca;
}

/*============================
        Aside[enter pg]  
=============================*/
body>aside {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eedec0;
}

body>aside>div {
    position: relative;
    width: 55vw;
    min-height: 55%;
    background-color: #462123;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    justify-content: space-evenly;
    padding: 2rem;
    align-items: center;
}

body>aside>div>h1 {
    width: 100%;
    font-size: 5vw;
}

body>aside>div>img {
    width: 10vw;
    height: auto;
}

body>aside>div>button {
    height: 5vh;
    width: 20vw;
    position: absolute;
    background-color: #462123;
    border: 1px solid #eedec0;
    min-width: fit-content;
    max-height: none;
}

/* YES button stays fixed */
#yes {
    left: 10%;
    bottom: 2.5%;
    z-index: 1;
}

#no {
    transition: top 0.2s ease, left 0.2s ease;
    right: 10%;
    bottom: 2.5%;
    z-index: 0;
}

/*============================
            BUTTON  
=============================*/

button {
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.094);
    border: none;
    min-width: 20vw;
    max-height: 75%;
    cursor: pointer;
    font-family: Kind_Avenue;
    font-size: 2.5vw;
}

#menu button, footer button, #zoomIn_Out, #hambugerMenu, body>div:nth-of-type(2)>div button, #beans button,
#musicBar, #cafes button, #game button:not(#game>div:nth-last-of-type(1)>button) {
    min-width: fit-content;
    max-height: 100%;
    background-color: transparent;
    /* transparent background*/
}

/*============================
            FOOTER  
=============================*/
footer {
    border-top: 1px solid #eedec0;
    background-color: #462123;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    max-width: 100vw;
    padding-top: 1rem;
}

/* specific grid pos */
footer>div:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1/span 2;
    text-align: left;
}

footer>div:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1/span 2;
    text-align: left;
}

footer>div:nth-of-type(3)>img {
    height: 15vh;
    width: auto;
}

footer>h6 {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
}

footer>.logo {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}

footer img {
    width: 7.5vw;
}

footer nav {
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 1rem;
}

footer button {
    text-align: left;
    font-size: 1vw;
}

/* nav for diff page of the website*/
footer button:nth-of-type(1) {
    grid-row: 1;
}

footer button:nth-of-type(2) {
    grid-row: 2;
}

footer button:nth-of-type(3) {
    grid-row: 3;
}

footer button:nth-of-type(4) {
    grid-row: 4;
}

/* form */
footer div:nth-last-of-type(1) {
    grid-row: 1/span 2;
    grid-column: 4;
    display: flex;
    flex-direction: column;
}

footer div:nth-last-of-type(1)>form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer div:nth-last-of-type(1)>form>input {
    width: 80%;
    border-radius: 0.25rem;
    height: 3.5vh;
    border: 1px solid #eedec0;
    background-color: rgba(255, 255, 255, 0.094);
}

footer div:nth-last-of-type(1)>form input::placeholder {
    /* change placeholer color */
    color: #eedec0;
    opacity: 1;
    padding-left: 0.5rem;
}

footer div:nth-last-of-type(1)>form input[type=submit] {
    /* create specific height for the submit botton */
    width: 50%;
}

/* ======================
      left logo nav
========================*/
#menu {
    position: absolute;
    gap: 1rem;
}

#menu button {
    display: flex;
    /* so that can align the img */
}

#menu>button>img {
    height: 7.5vh;
    width: auto;
    padding: 0rem 0.75rem;
}

#menu>button {
    font-family: Kind_Avenue;
}

#menu * {
    align-items: center;
    font-size: 1vw;
}

/* ======================
       hambuger menu
========================*/
body>div:nth-of-type(2) {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;
}

body>div:nth-of-type(2) img {
    height: 5vh;
    width: auto;
}

body>div:nth-of-type(2) nav {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(5, auto);
}

body>div:nth-of-type(2)>div>nav button {
    padding: 0rem 2rem;
    font-size: 2.5vw;
    text-align: left;
}

body>div:nth-of-type(2)>div>button {
    grid-row: 1;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
}

body>div:nth-of-type(2)>div>nav span {
    font-size: 0.75vw;
}

/* make font appear bigger when hover*/
body>div:nth-of-type(2)>div>nav>button:hover {
    text-indent: 1rem;
    transition-duration: 1s;
}

body>div:nth-of-type(2)>div {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0vw;
    background-color: #462123;
    display: none;
    grid-template-rows: 1fr 8fr;

}

/* ======================
       zoom in or out
========================*/
#zoomIn_Out {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

#zoomIn_Out img {
    height: 3.5vh;
    width: auto;
}

/*============================
            Arrow  
=============================*/
.right {
    transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
}

.arrow {
    border: solid #eedec0;
    border-width: 0 1rem 1rem 0;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.45rem;
}

/* ======================
       music on / off
========================*/
body>button:nth-last-of-type(1) {
    position: fixed;
    bottom: 1rem;
    left: 1.5rem;
    justify-content: space-between;
    height: 3vh;
    width: 1.75vw;
    display: flex;
}

body>button:nth-last-of-type(1)>span {
    width: 0.5vw;
    height: 100%;
    background-color: #eedec0;
    border-radius: 3px;
    animation: move 2.2s ease infinite alternate;
    transform-origin: bottom;
    text-shadow: 2px 2px 4px #5e5d5dcf;
}

/* make a natural illusion of the music bar */
body>button:nth-last-of-type(1)>span:nth-of-type(2) {
    animation-delay: -2.2s;
}

body>button:nth-last-of-type(1)>span:nth-of-type(3) {
    animation-delay: -3.7s;
}

/* music bar animation */
@keyframes move {
    10% {
        transform: scaleY(0.3);
        /* start by scaling to 30% */
    }

    30% {
        transform: scaleY(1);
        /* scale up to 100% */
    }

    60% {
        transform: scaleY(0.5);
        /* scale down to 50% */
    }

    80% {
        transform: scaleY(0.75);
        /* scale up to 75% */
    }

    100% {
        transform: scaleY(0.6);
        /* scale down to 60% */
    }
}

@keyframes mutedMove {
    0% {
        transform: scaleY(0);
        /* start by scaling to 0% */
    }

    10% {
        transform: scaleY(0.15);
        /* start by scaling to 15% */
    }

    30% {
        transform: scaleY(0.35);
        /* scale up to 50% */
    }

    60% {
        transform: scaleY(0.25);
        /* scale down to 25% */
    }

    80% {
        transform: scaleY(0.075);
        /* scale up to 37.5% */
    }

    100% {
        transform: scaleY(0.125);
        /* scale down to 30% */
    }
}

/* ======================
          Classes
========================*/
.bounceAnimation {
    animation: bouncing 0.6s infinite ease-in-out;
}

@keyframes bouncing {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

}

/* ======================
          Section
========================*/
article {
    background-color: #442d1c;
    min-height: 100vh;
    display: block;
    max-width: 100vw;
}

#start *,#beans h1,#brewing h1,#cafes h1,#game h1,aside h1,h2 {
    text-align: center;
    font-family: Kind_Avenue;
}

/* hide */
#beans,#brewing,#cafes,#game,#beans>div>p:nth-of-type(2),#brewing>div>p:nth-of-type(2),#cafes>div>p:nth-of-type(2),
#beans>section:nth-of-type(1)>div>div:nth-of-type(3)>ol>li:nth-last-of-type(1),
#beans>section:nth-of-type(1)>div>div:nth-of-type(3)>ol>li:nth-last-of-type(2),
#beans>section:nth-of-type(1)>div>div:nth-of-type(3)>ol>li:nth-last-of-type(3),
#beans>section:nth-of-type(1)>div>div:nth-of-type(3)>ol>li:nth-last-of-type(4) {
    display: none;
}

#beans>div>h1,#brewing>div>h1,#cafes>div>h1,#game h1 {
    grid-row: 1;
    font-size: 10vw;
    align-self: end;
}

#beans>div>p,#brewing>div>p:nth-of-type(1),#brewing>div>p:nth-of-type(2),
#cafes>div>p:nth-of-type(2),#cafes>div>p:nth-of-type(1) {
    grid-row: 2;
    text-align: center;
}

/* ======================
          main/nav
========================*/
#start {
    background-color: transparent;
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 0%;
}

#start>h1 {
    grid-row: 1;
    grid-column: 1;
    font-size: 12.5vw;
    align-self: end;
}

#start>div {
    grid-row: 2;
    grid-column: 1;
    font-size: 5.5vw;
}

#start>nav {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: space-evenly;
}

#start>nav>button:hover {
    font-size: 3.5vw;
    transition-duration: 1s;
}

/* ======================
        bean section
========================*/
#beans {
    background-color: #462123;
    grid-row: 2;
}

#beans h2, #brewing h2 {
    font-size: 3.5vw;
    align-self: center;
}

#beans>div:nth-of-type(1) {
    background-size: inherit;
    background-image: url("images/coffeeBeanBackground.jpg");
    /* background-image: url("../images/coffeeBeanBackground.jpg"); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    min-height: 100vh;
    max-width: 100vw;
}

/* bean nav */
#beans>div>div:nth-of-type(1) {
    grid-row: 3;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
}

#beans button {
    font-size: 1.5vw;
}

#beans>section, #brewing>section {
    min-height: 100vh;
    display: none;
    position: relative;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.094);
    border-radius: 5rem;
    background-clip: content-box;
    max-width: 100vw;
}

#beans>section>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

#beans>section>div>img {
    grid-row: 1/span 2;
    grid-column: 2;
    place-self: center;
    transition: transform 0.5s;
    width: 100%;
}

#beans h3 {
    text-align: center;
    color: #442d1c;
    font-size: 3vw;
}

#beans>section>div ol {
    display: none;
    color: #442d1c;
    padding: 0;
    text-align: left;
    width: fit-content;
    align-self: center;
    list-style-position: inside;
    margin: auto;
}

#beans>section>div>div {
    width: 100%;
    min-height: 100%;
    background-color: #eedec0;
    justify-self: center;
    border-radius: 2rem;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#beans>section>div>div>img {
    border-radius: 3rem;
    width: 50%;
}

/* ======================   
    brewing section
========================*/

#brewing {
    grid-row: 3;
}

#brewing>div:nth-of-type(1) {
    background-image: url("images/brewingBackground.jpg");
    /* background-image: url("../images/brewingBackground.jpg"); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    min-height: 100vh;
    max-width: 100vw;
}

#brewing>div>p:nth-of-type(1),
#brewing>div>p:nth-of-type(2),
#cafes>div>p:nth-of-type(1) {
    align-self: start;
}

#brewing>div>div:nth-of-type(1),
#cafes>div:nth-of-type(1)>div {
    grid-row: 4;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#brewing>div>div:nth-of-type(1) {
    grid-row: 3;
}

#brewing>div>div>button {
    text-decoration: 1px underline;
}

#brewing>section:nth-of-type(1) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 4fr;
}

#brewing>section:nth-of-type(2),
#brewing>section:nth-of-type(3) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 4fr;
}

#brewing>section>section {
    grid-row: 2;
    border-radius: 5rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.094);
    background-clip: content-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: bisque;
    max-width: 100vw;
}

#brewing>section>section>img {
    border-radius: 50%;
    margin-top: -30%;
    width: 50%;
    max-width: 30vh;
    height: auto;
    padding: 1rem;
}

#brewing>section>h2 {
    grid-row: 1;
    grid-column: 1/span 3;
    padding: 1rem;
    text-align: center;
}

#brewing ul {
    list-style: none;
    list-style-position: inside;
    padding: 1rem;
}

#brewing h3 {
    padding: 1rem;
    text-align: center;
    font-size: 1.5vw;
}

/* ======================
     cafes section
========================*/

#cafes {
    grid-row: 4;
    background-color: #462123;
}

#cafes>div:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    min-height: 100vh;
    background: linear-gradient(rgba(70, 33, 35, 0.35), rgba(70, 33, 35, 0.35)),
        url('images/background1.jpg');
    /* url('../images/background1.jpg'); */
    background-size: inherit;
    background-position: center center;
}

#cafes>section {
    display: none;
    min-height: 100vh;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
}

#cafes>section>h3 {
    grid-row: 1;
    grid-column: 1/span 2;
    text-align: center;
    font-size: 3.5vw;
}

#cafes>section>div:nth-of-type(1) {
    background-color: rgba(255, 255, 255, 0.094);
    background-clip: content-box;
    border-radius: 3rem;
    padding: 1rem;
}

#cafes>section>div:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

#cafes img {
    border-radius: 2rem;
    place-self: center;
}

#cafes>section:nth-of-type(1)>div:nth-of-type(2)>img:nth-of-type(1) {
    grid-column: 2/span 2;
    grid-row: 1;
    height: 35vh;
}

#cafes>section:nth-of-type(1)>div:nth-of-type(2)>img:nth-of-type(2) {
    grid-column: 2/span 2;
    grid-row: 2;
    height: 35vh;
}

#cafes>section:nth-of-type(1)>div:nth-of-type(2)>img:nth-of-type(3) {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    height: 35vh;
}

#cafes>section:nth-of-type(2)>div:nth-of-type(2)>img:nth-of-type(1) {
    grid-column: 1/span 2;
    grid-row: 1;
}

#cafes>section:nth-of-type(2)>div:nth-of-type(2)>img:nth-of-type(2) {
    grid-column: 2/span 2;
    grid-row: 1/span 2;
}

#cafes>section:nth-of-type(2)>div:nth-of-type(2)>img:nth-of-type(3) {
    grid-column: 1/span 3;
    grid-row: 2;
}

#cafes>section:nth-of-type(3)>div:nth-of-type(2)>img:nth-of-type(1) {
    grid-column: 1/span 3;
    grid-row: 1;
}

#cafes>section:nth-of-type(3)>div:nth-of-type(2)>img:nth-of-type(2) {
    grid-column: 1/span 2;
    grid-row: 2;
    width: 35vw;
}

#cafes>section:nth-of-type(4)>div:nth-of-type(2)>img:nth-of-type(1) {
    grid-column: 1/span 3;
    grid-row: 1;
}

#cafes>section:nth-of-type(4)>div:nth-of-type(2)>img:nth-of-type(2) {
    grid-column: 1/span 2;
    grid-row: 2;
    width: 35vw;
}

#cafes>section:nth-of-type(5)>div:nth-of-type(2)>img:nth-of-type(1) {
    grid-column: 1/span 3;
    grid-row: 1;
}

#cafes>section:nth-of-type(5)>div:nth-of-type(2)>img:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2;
}

#cafes>section:nth-of-type(5)>div:nth-of-type(2)>img:nth-of-type(3) {
    grid-column: 3;
    grid-row: 2;
}

#cafes>section>div>p {
    padding: 1rem;
    font-size: 2vw;
}

#cafes>section>div>div {
    padding: 1rem;
}

#cafes iframe {
    width: 80%;
    height: auto;
    border: 0;
    border-radius: 3rem;
    padding: 1rem;
}

/* ======================
         ccs tile
========================*/
.Logo {
    width: 100px;
    height: 100px;
    /* background-image: url('../images/socialSprites.jpg'); */
    background-image: url('images/socialSprites.jpg');
    background-repeat: no-repeat;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
}

.web {
    background-position: 0 0;
}

.ig {
    background-position: -100px 0;
}

.fb {
    background-position: -200px 0;
}

/* ======================
     game section
========================*/

#game {
    grid-row: 5;
    text-align: center;
    padding: 1rem;
}

#game>h1 {
    padding-top: 20%;
}

#game>p:nth-of-type(2) {
    height: 35vh;
    border-bottom: 0.5rem solid #eedec0;
}

#game>div:nth-of-type(1) {
    justify-self: center;
    grid-row: 7;
    min-height: 80vh;
    max-width: 85%;
    padding: 2.5rem;
    /* background-image: url('../images/gameBackground.jpeg'); */
    background-image: url('images/gameBackground.jpeg');
    background-size: cover;
    background-clip: content-box;
    border-radius: 7.5rem;
    outline: 0.5rem solid #eedec0;
    outline-offset: -2.5rem;
    /* Pulls outline inward by padding amount */
    background-position: center center;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}

#game>div:nth-of-type(1)>button {
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.5vw;
    font-family: Sans_Font;
    z-index: 3;
}

#game>div:nth-of-type(1)>button>img {
    max-width: 50%;
    border-radius: 3rem;
}

#game>div:nth-of-type(1)>button:nth-of-type(1) {
    grid-row: 1;
    grid-column: 1;
}

#game>div:nth-of-type(1)>button:nth-of-type(2) {
    grid-row: 2;
    grid-column: 1;
}

#game>div:nth-of-type(1)>button:nth-of-type(3) {
    grid-row: 3;
    grid-column: 1;
}

#game>div:nth-of-type(1)>button:nth-of-type(4) {
    grid-row: 1;
    grid-column: 3;
}

#game>div:nth-of-type(1)>button:nth-of-type(5) {
    grid-row: 2;
    grid-column: 3;
}

#game>div:nth-of-type(1)>button:nth-of-type(6) {
    grid-row: 3;
    grid-column: 3;
}

#game>div:nth-of-type(1)>div:nth-last-of-type(1) {
    grid-row: 3;
    grid-column: 2;
    min-width: 35vw;
    display: flex;
    min-height: fit-content;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#game>div:nth-of-type(1)>div:nth-last-of-type(1)>div {
    border-radius: 50%;
    background-color: #eedec0;
    height: 12.5vh;
    width: auto;
    aspect-ratio: 1;
    z-index: 2;
}

#game>div:nth-of-type(1)>div:nth-last-of-type(1)>button {
    flex: 100%;
    padding: 1.5rem;
    text-align: center;
    font-size: 3vw;
    font-family: Sans_Font;
    border-radius: 3rem;
    border: 0.5rem solid #eedec0;
    width: 35%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.094);
    display: flex;
    align-items: center;
    /* Vertical center */
    justify-content: center;
    /* Horizontal center */
    z-index: 3;
}

#game>div:nth-of-type(1)>div:nth-of-type(1) {
    grid-row: 2/span 2;
    grid-column: 2;
    z-index: -1;
    align-self: center;
}

#game>div:nth-of-type(1)>div:nth-of-type(1)>img {
    width: 90%;
}

#game>div:nth-of-type(1)>div:nth-of-type(2) {
    width: fit-content;
    justify-self: center;
    grid-row: 1/span 2;
    grid-column: 2;
    border-radius: 50%;
    max-width: 15vw;
    background-color: #eedec0;
    aspect-ratio: 1;
    z-index: -1;
    background-image: url('images/espressoGame.jpg');
    /* background-image: url('../images/espressoGame.jpg'); */
    background-position: center center;
    background-size: cover;
    border: 0.5rem solid #462123;
}

/* menu */
#game>aside {
    grid-row: 5;
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    background-color: #442d1c;
}

#game>aside>h2 {
    padding: 1rem;
    font-size: 3.5vw;
}

#game>aside>div {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row: 2;
}

#game>aside>div>div {
    min-width: 75%;
}

#game>aside>div>div>img {
    width: 100%;
    border-radius: 3rem;
}

#game>aside>#left {
    grid-column: 1;
}

#game>aside>#right {
    grid-column: 3;
}

/* customer served */
#game>div>aside:nth-of-type(1) {
    align-items: start;
    grid-column: 1;
    grid-row: 4;
    font-size: 2.5vw;
}

#game>div>aside:nth-of-type(1)>img {
    width: 3vw;
    height: auto;
}

#game>div>aside:nth-of-type(2) {
    text-align: left;
    grid-column: 3;
    grid-row: 4;
    font-size: 2.5vw;
}

/* start/restart button */
#game>div:nth-last-of-type(1) {
    grid-row: 8;
    display: flex;
    min-height: fit-content;
    justify-content: space-evenly;
}

#game>div:nth-last-of-type(1)>button {
    width: 30%;
    height: 15vh;
    border: 1px solid #eedec0;
    font-size: 3.5vw;
}

#game>div:nth-last-of-type(2) {
    display: grid;
    align-items: center;
    place-items: center;
    padding: 2rem;
}

#game>div:nth-last-of-type(2)>img {
    width: 65%;
    border-radius: 3rem;
    border: 1rem solid #eedec0;
}

#game>h2 {
    grid-row: 6;
}

#game>div:nth-last-of-type(2)>h2,
#game>h2 {
    padding: 1rem;
    font-size: 5vw;
}

/* ======================
    others:display none
========================*/

#menu,body>div:nth-of-type(2),#zoomIn_Out,main,footer,#musicBar {
    display: none;
}

/* ======================
    phone break point
========================*/
@media screen and (max-width: 800px) {

    /* ======================
                aside
    ========================*/
    body>aside>div>h1 {
        font-size: 7.5vw;
    }

    body>aside>div>img {
        width: 20vw;
        height: auto;
    }

    button {
        font-size: 5vw;
        max-height: 35%;
    }

    /* ======================
          hambuger menu
    ========================*/
    #menu * {
        font-size: 3vw;
    }

    body>div:nth-of-type(2)>div>nav span {
        font-size: 5vw;
    }

    body>div:nth-of-type(2)>div>nav button {
        font-size: 10vw;
    }

    body>button:nth-last-of-type(1) {
        height: 5vh;
        width: 10vw;
    }

    body>button:nth-last-of-type(1)>span {
        width: 3vw;
        border-radius: 1rem;
    }

    /* ======================
            home page
    ========================*/
    #start {
        padding: 3rem 0rem;
    }

    #start>h1 {
        font-size: 20vw;
    }

    #start>div {
        font-size: 10vw;
    }

    #start>nav {
        flex-wrap: wrap;
        padding: 5rem 0rem;
    }

    #start>nav>button {
        width: 45%;
        height: 15vh;
        font-size: 5.5vw;
    }

    /* ======================
               beans
    ========================*/
    #beans>div>h1, #brewing>div>h1,#cafes>div>h1,#game>h1 {
        font-size: 20vw;
    }

    .arrow {
        border-width: 0 0.5rem 0.5rem 0;
        padding: 0.5rem;
    }

    #beans>div>div:nth-of-type(1) {
        grid-template-columns: repeat(3, 1fr);
    }

    #beans button {
        font-size: 7vw;
    }

    #beans h2,#brewing h2,#cafes>section>h3 {
        font-size: 9vw;
    }

    #beans>section>div {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    #beans>section>div>img {
        grid-row: 1;
        grid-column: 1;
    }


    #beans>section>div ol {
        font-size: 4.5vw;
    }

    #beans h3,
    #brewing h3,
    #cafes>section>div>p {
        font-size: 5.5vw;
    }

    /* ======================
            brewing
    ========================*/

    #brewing>div>div:nth-of-type(1),#cafes>div:nth-of-type(1)>div {
        flex-direction: column;
        flex-wrap: wrap;
        min-height: fit-content;
        align-items: center;
        padding: 2rem;
        row-gap: 1rem;
    }

    #brewing>div>div>button {
        width: 75%;
        height: 30%;
        font-size: 5.5vw;
    }

    #brewing>div:nth-of-type(1) {
        grid-template-rows: auto minmax(2rem, 3.5rem) auto;
    }

    #brewing>section:nth-of-type(1),#brewing>section:nth-of-type(2),#brewing>section:nth-of-type(3) {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(3rem, 5rem) repeat(3, auto);
        padding: 1rem;
        gap: 2.5rem;
    }

    #brewing>section>h2 {
        grid-column: 1;
        grid-row: 1;
        padding: 3rem 1rem;
    }

    #brewing>section>section:nth-of-type(1) {
        grid-row: 2;
    }

    #brewing>section>section:nth-of-type(2) {
        grid-row: 3;
    }

    #brewing>section>section:nth-of-type(3) {
        grid-row: 4;
    }

    #brewing>section>section>img {
        margin-top: -10%;
        width: 50%;
    }

    /* ======================
              cafes
    ========================*/
    #cafes>section {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    #cafes>section>h3 {
        grid-column: 1;
    }

    #cafes>section:nth-of-type(1)>div:nth-of-type(2)>img:nth-of-type(1) {
        grid-column: 2/span 2;
        grid-row: 1;
        height: 35vh;
    }

    #cafes>section>div:nth-of-type(2) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row: 2;
    }

    #cafes>section:nth-of-type(1)>div:nth-of-type(2)>img:nth-of-type(2) {
        grid-column: 1;
        grid-row: 1;
        height: auto;
        width: 90%;
    }

    #cafes>section:nth-of-type(2)>div:nth-of-type(2),
    #cafes>section:nth-of-type(5)>div:nth-of-type(2) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #cafes>section:nth-of-type(2)>div:nth-of-type(2)>img:nth-of-type(2) {
        grid-column: 2;
        width: 85%;
        height: auto;
    }

    #cafes>section:nth-of-type(2)>div:nth-of-type(2)>img:nth-of-type(3) {
        grid-column: 1;
        grid-row: 1;
        width: 85%;
        height: auto;
    }

    #cafes>section:nth-of-type(3)>div:nth-of-type(2)>img:nth-of-type(2) {
        grid-column: 1;
        grid-row: 1;
        width: 85%
    }

    #cafes>section:nth-of-type(4)>div:nth-of-type(2)>img:nth-of-type(1) {
        grid-column: 1;
        width: 85%;
    }

    #cafes>section:nth-of-type(5)>div:nth-of-type(2)>img:nth-of-type(2) {
        grid-column: 1;
        grid-row: 1;
        width: 75%;
        height: auto;
    }

    #cafes>section:nth-of-type(5)>div:nth-of-type(2)>img:nth-of-type(3) {
        grid-column: 2;
        grid-row: 1;
        width: 95%;
        height: auto;

    }

    #cafes>div:nth-of-type(1)>div:nth-of-type(1) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #cafes>div:nth-of-type(1)>div:nth-of-type(1)>button {
        width: 30%;
        height: 7.5vh;
        font-size: 3.5vw;
        border: 1px solid #eedec0;
    }

    /* ======================
            footer
    ========================*/
    footer {
        grid-template-columns: repeat(2, auto);
    }

    footer button {
        font-size: 2.5vw;
    }

    footer>.logo>.homeButton>img {
        width: 75%;
        height: auto;
    }

    /* ======================
               game
    ========================*/
    #game h2,
    #game>div:nth-last-of-type(2)>h2,
    #game>aside>h2 {
        font-size: 10vw;
    }

    #game>div:nth-last-of-type(2)>img {
        width: 100%;
        padding: 0;
        border-radius: 0%;
        border: none;
    }

    #game>div:nth-last-of-type(2) {
        padding: 0;
        max-width: 100vw;
    }

    #game {
        padding: 0.5vw;
    }

    #game>aside {
        padding: 0.5vw;
        max-width: 100vw;
    }

    #game>aside>div>div>img {
        border-radius: 1.5rem;
    }

    #game>p,#game>h1 {
        max-width: 100vw;
    }

    #game>div:nth-of-type(1) {
        max-width: 100%;
        padding: 0.5rem;
        border-radius: 1.5rem;
        outline: 0.25rem solid #eedec0;
        outline-offset: -0.5rem;
    }

    #game>div:nth-of-type(1)>button {
        font-size: 5vw;
    }

    #game>div:nth-of-type(1)>button>img {
        max-width: 95%;
        border-radius: 1.5rem;
    }

    #game>div:nth-of-type(1)>div:nth-of-type(2) {
        max-width: 35vw;
    }

    #game>div:nth-of-type(1)>div:nth-last-of-type(1)>button {
        font-size: 5.5vw;
        border-radius: 1.5rem;
        border: 3px solid #eedec0;
        width: 35%;
        height: min-content;
    }

    #game>div:nth-of-type(1)>div:nth-last-of-type(1)>div {
        height: 7.5vh;
        width: auto;
    }

    #game>div>aside:nth-of-type(1),#game>div>aside:nth-of-type(2) {
        font-size: 4.5vw;
    }

    #game>div>aside:nth-of-type(1)>img {
        width: 9.5vw;
    }

    #game>div:nth-of-type(1)>div:nth-of-type(1)>img {
        width: 95%;
        margin-top: -30%;

    }

    /* ======================
            display
    ========================*/
    /* HIDE */
    #beans>div>p:nth-of-type(1),#goIntoLeft,#brewing>div>p:nth-of-type(1),#cafes>div>p:nth-of-type(1),
    #beans>section:nth-of-type(1)>div>div:nth-of-type(3)>ol>li:nth-of-type(1),
    #beans>section:nth-of-type(1)>div>div:nth-of-type(3)>ol>li:nth-of-type(2),
    #beans>section:nth-of-type(1)>div>div:nth-of-type(3)>ol>li:nth-of-type(3),
    #beans>section:nth-of-type(1)>div>div:nth-of-type(3)>ol>li:nth-of-type(4),
    #cafes>section:nth-of-type(1)>div:nth-of-type(2)>img:nth-of-type(1),
    #cafes>section:nth-of-type(1)>div:nth-of-type(2)>img:nth-of-type(3),
    #cafes>section:nth-of-type(2)>div:nth-of-type(2)>img:nth-of-type(1),
    #cafes>section:nth-of-type(3)>div:nth-of-type(2)>img:nth-of-type(1),
    #cafes>section:nth-of-type(4)>div:nth-of-type(2)>img:nth-of-type(2),
    #cafes>section:nth-of-type(5)>div:nth-of-type(2)>img:nth-of-type(1),
    footer>div:nth-of-type(3) {
        display: none;
    }
    #zoomIn_Out {
        display: none !important;
    }

    /* SHOW */
    #beans>div>p:nth-of-type(2),#brewing>div>p:nth-of-type(2),#cafes>div>p:nth-of-type(2),
    #beans>section:nth-of-type(1)>div>div:nth-of-type(3)>ol>li:nth-last-of-type(1),
    #beans>section:nth-of-type(1)>div>div:nth-of-type(3)>ol>li:nth-last-of-type(2),
    #beans>section:nth-of-type(1)>div>div:nth-of-type(3)>ol>li:nth-last-of-type(3),
    #beans>section:nth-of-type(1)>div>div:nth-of-type(3)>ol>li:nth-last-of-type(4) {
        display: block;
    }

    /* ======================
           revert hover
    ========================*/
    #start>nav>button:hover {
        font-size: 5.5vw;
        transition: none;
    }

    body>div:nth-of-type(2)>div>nav>button:hover {
        text-indent: 0;
        transition: none;
    }
}